- if story.can_start?
  %span.label.label-success
    = link_to 'Start', :controller => 'stories', :action => 'event', :id => story.id, :event => 'start'
- elsif story.can_finish?
  %span.label.label-info
    = link_to 'Finish', :controller => 'stories', :action => 'event', :id => story.id, :event => 'finish'

- if story.can_accept?
  %span.label.label-warning
    = link_to 'Accept', :controller => 'stories', :action => 'event', :id => story.id, :event => 'accept'

- if story.can_reject?
  %span.label.label-important
    = link_to 'Reject', :controller => 'stories', :action => 'event', :id => story.id, :event => 'reject'